/* .form-group label {
  width: 120px;
  display: inline-block;
  margin: 5px 0;
} */

#expand-icon {
  writing-mode: vertical-rl; /* Vertical, right-to-left */
  height: 25px;
  background-color: rgb(238, 239, 240);
}
