<main class="vh-100 d-flex flex-column">
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Memendex - Your meme index</a>
      <app-meme-search
        (searchCompleted)="onSearchCompleted($event)"
        (resetSearch)="onSearchReseted()"
      />
    </div>
  </nav>
  <app-meme-upload (memeUploaded)="onMemeUploaded($event)" />
  
  <div class="gallery-details-grid overflow-y-auto">
    <div class="gallery-view overflow-y-auto">
      <!-- [totalCount]="totalMemes"
        [pageSize]="defaultPageSize"
        [currentPage]="1" -->
      <app-meme-gallery
        [data]="memes()"
        (select)="onSelectMeme($event)"
        (requestPage)="fetchMemes(defaultPageSize, $event)"
      />
    </div>
    
    <app-meme-details
      [meme]="selectedMeme"
      (memeUpdated)="memeUpdated($event)"
      (memeDeleted)="memeDeleted($event)"
    />
    
  </div>
</main>

<router-outlet />
