<main class="main">
  <h1>Memendex - Your meme index</h1>

  <div class="upload-center-container">
    <app-meme-upload (memeUploaded)="onMemeUploaded($event)" />
    <app-meme-search
      (searchCompleted)="onSearchCompleted($event)"
      (resetSearch)="onSearchReseted()"
    />
  </div>

  <br />
  <hr />

  <div class="gallery-details-grid">
    <div class="gallery-view">
      <!-- [totalCount]="totalMemes"
        [pageSize]="defaultPageSize"
        [currentPage]="1" -->
      <app-meme-gallery
        [data]="memes()"
        (select)="onSelectMeme($event)"
        (requestPage)="fetchMemes(defaultPageSize, $event)"
      />
    </div>
    <div class="details-view">
      <app-meme-details
        [meme]="selectedMeme"
        (memeUpdated)="memeUpdated($event)"
      />
    </div>
  </div>
</main>

<router-outlet />
