.card .image-container {
  height: 210px;
  display: flex;
}

.card .image-container img {
  object-fit: contain;
}

.image-container .fiv-cla {
  font-size: 120px;
  margin: auto;
  height: 170px;
}
