@if (meme()) {
  <form (ngSubmit)="submitUpdate()">
    <div class="image-container">
      <img src="/api/memes/{{ meme()!.id }}/image" />
    </div>

    <h2>{{ meme()!.fileName }}</h2>

    <app-description-text-area
      [formControl]="description"
    ></app-description-text-area>

    <input type="submit" value="Edit" />
  </form>
} @else {
  <div class="image-container">
    <img src="/meme-placeholder.jpg" />
  </div>
  <p>Select a meme from the left panel to see or edit its details</p>
}
